params {
    dir_data = "/home/jeffersonfparil/Documents/GWAlpha_DMC_herbi_resist/test"
    dir_gwalpha = "/home/jeffersonfparil/Documents/GWAlpha"
    dir_dmc = "/home/jeffersonfparil/Documents/dmc"
    maf = 0.05
    gff = "Lolium_rigidum.gff"
    window_kb = 10000
    n_main_chrom = 7
}

process {
    withLabel: LOW_MEM_LOW_CPU {
        cpus = 10
        memory = '20 GB'
    }
    withLabel: HIGH_MEM_HIGH_CPU {
        cpus = 2
        memory = '12 GB'
    }
}
